{% extends 'base.html' %}

{% block title %} Followers | {{ user.username }} {% endblock %}

{% block content %}

<div class="container mt-5">
    <form method="get" class="mb-5">
        <div class="input-group input-group-sm shadow-sm">
            <input type="text" name="search" class="form-control rounded" placeholder="Search followers..."
                value="{{ request.GET.search }}" required>
            <button class="btn btn-primary btn-sm ml-1 mr-1" type="submit">Search</button>
            {% if request.GET.search %}
            <a href="{{ user.get_follower_list_url }}" class="btn btn-danger btn-sm">×</a>
            {% endif %}
        </div>
    </form>

    {% with follower_list=page_obj %}
    {% if follower_list %}
    <div class="row g-4">
        {% for user in follower_list %}
        <div class="col-lg-6 mt-1 mb-1">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-header bg-white border-0">
                    <h5 class="mb-0 text-primary fw-bold">@{{ user.username }}</h5>
                    <small class="text-muted">{{ user.first_name }} {{ user.last_name }}</small>
                </div>

                <div class="card-footer bg-white border-0">
                    <a href="{{ user.get_absolute_url }}" class="btn btn-outline-primary w-100">View Profile →</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="mt-5">
        {% include 'includes/pagination.html' %}
    </div>

    {% else %}
    <div class="text-center py-5">
        <h5 class="text-muted">No followers found 😕</h5>
    </div>
    {% endif %}
    {% endwith %}
</div>

{% endblock %}