<header class="bg-dark py-3">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <a href="{% url 'social_network' %}" class="text-light h5 mb-0 text-decoration-none">SocialNetwork</a>
        <nav class="nav">
        {% if request.user.is_authenticated %}
            <a href="{% url 'posts:post-list' %}" class="nav-link text-light" style="text-decoration: none;">Explore</a>
            <a href="{% url 'accounts:user-list' %}" class="nav-link text-light" style="text-decoration: none;">People</a>
            <a href="{{ request.user.get_absolute_url }}" class="nav-link text-light" style="text-decoration: none;">Profile</a>
            <a href="{% url 'notifications:notification-list' %}" class="nav-link text-light" style="text-decoration: none;">
                Notifications {{ request.user.get_notifications_count }}
            </a>
        {% else %}
            <a href="{% url 'accounts:user-create' %}" class="nav-link text-light" style="text-decoration: none;">Register</a>
            <a href="{% url 'accounts:user-login' %}" class="nav-link text-light" style="text-decoration: none;">Login</a>
        {% endif %}
        </nav>
    </div>
</header>
